@model Instituto.Models.Estudiante

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Estudiante</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdEstudiante" class="control-label"></label>
                <input asp-for="IdEstudiante" class="form-control" />
                <span asp-validation-for="IdEstudiante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreEstudiante" class="control-label"></label>
                <input asp-for="NombreEstudiante" class="form-control" />
                <span asp-validation-for="NombreEstudiante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EdadEstudiante" class="control-label"></label>
                <input asp-for="EdadEstudiante" class="form-control" />
                <span asp-validation-for="EdadEstudiante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SexoEstudiante" class="control-label"></label>
                <input asp-for="SexoEstudiante" class="form-control" />
                <span asp-validation-for="SexoEstudiante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
